.navbar{
    margin: 10px 30px 0px 30px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;   
}

.navbar a {
    display: inline-block;
    padding: 10px 5px 10px 5px;
    font-size: 18px;
}

.navbar a:hover{
    font-size: 18.25px;
}

#gallery-title{
    font-size: 15px;
}

#gallery-subtitle{
    font-size: 17px;
}

.gallery-item{
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color:  #fef0ef;
    margin: auto;
}

#gallery-text{
    margin-top: 80px; 
    font-size: 30px;
}
