body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

@font-face{
    font-family: bromello;
    src: url('../fonts/bromello.ttf') format('truetype');
}

@font-face{
    font-family: renzo;
    src: url('../fonts/renzo.ttf') format('truetype');
}


.navbar{
    margin: 10px 150px 0px 150px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;   
}

.navbar li {
    display: inline;
}

.navbar a {
    display: inline-block;
    padding: 20px 10px 20px 10px;
    color:#cc0044;
    font-family: renzo;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover{
    background-color: lavenderblush;
    color: purple;
    font-size: 20.25px;
    text-decoration: none;
}


.header-img{
    position: relative;
    background-image: url("https://i.ibb.co/0ZPVbCk/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 50px 10px 50px;
    height: 500px;
}

#header-text{
    font-family: bromello;
    font-size: 150px;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-45%, -40%);
    text-align: center;
    color: #CA637F;
}


#header-text:hover{
    color: #b03667;
}


#slogan:hover{
    color: #b03667;
}


#slogan{
    font-family: renzo;
    font-size: 28px;
    top: 67%;
    left: 50%;
    position: absolute;
    transform: translate(-45%, -60%);
    color: #BF6E77;
}

.dropdown{
    display: none;
}

/* collection */

.header-main{
    font-size: 30px;
    background-color: #fcf1e1;
    margin: 50px 50px 80px 50px;
    padding-top: 5px;
}

.header-collection-right{
    overflow: hidden;
    float: left;
    background-color: #fcf1e1;
    padding: 30px 0px 30px 0px;
}

.header-collection-left{
    float: right;
    overflow: hidden;
    background-color: #fcf1e1;
    padding: 30px 0px 30px 0px;
}

.header-border-right{
    border: solid #CA6161 20px;
}

.header-border-left{
    border: solid #BF6E77 20px;
}




.header-info{
    display: flex;
    justify-content: center;
    background-color:#fcf1e1;
    margin: 30px 50px 0px 50px;
    padding: 10px 30px 40px 30px;
}


.header-info::after{
    content: "";
    clear: both;
    display: table;
}

.header-main-title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #CA3066;
    margin: 50px 50px 0px 50px;
}

.header-subtitle{
    font-family: renzo;
    font-size: 20px;
    color: #BF6E77;
    text-align: center;
    margin: 0px 50px 30px 50px;
    padding: 10px;
}

.header-title-left:hover, 
.header-title-right:hover{
    font-style: normal;
    color: purple;
    font-size: 20.25px;
}

.header-title-left{
    color:  #BF6E77;
    font-size: 22px;
    font-family: renzo;
    float: left;
    width: 45%;
    text-align: center;
    transform: translateX(11%);
    
}


.header-title-right{
    color:  #BF6E77;
    font-size: 22px;
    font-family: renzo;
    float: left;
    width: 45%;
    text-align: center;
    transform: translateX(-11%);
}

.gallery-collection{
    overflow: hidden;
    background-color: #fef0ef;
    padding: 30px 0px 30px 0px;
    text-align: center;
    margin: auto;
}






.gallery-item{
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color:  #fef0ef;
    margin: auto;
}

  


.gallery-img{
    text-align: center;
}

.gallery-content{
    font-family: renzo;
    background-color: white;
    display: block;
    text-align: center;
    padding: 20px 0px 15px 0px;
}

#gallery-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    color: #CA3066;

}

#gallery-subtitle{
    font-family: renzo;
    color: #BF6E77;
    font-size: 20px;
    text-align: center;
    margin: -10px 0px 10px 0px;
}

#gallery-text{
    color: #CA637F; 
    text-align: center; 
    margin-top: 100px; 
    font-size: 40px;

}

.gallery-item-3{
    overflow: hidden;
    width: 320px;
    height: 320px;
    text-align: center;
}

.gallery-container-3{
    position: relative;
    flex: 30%;
    overflow: hidden; 
    margin: 40px 10px 30px 10px;
    text-align: center;
    border-color: red;
    
}


.gallery-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    border-color: black;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}

.gallery-button:hover{
    background-color: pink;
}

footer{
    text-align: center;
    padding: 15px;
    background-color:#BF6E77;
    color: white;
}






