#header-text{
    font-size: 75px;
}

.navbar{
    margin: -10px;
}

.navbar a {
    padding: 0px;
    font-size: 0px;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin: 10px 10px -10px 0px;
    z-index: 2;
    list-style-type: none;
}


.dropdown-button{
    background-color: white;
    border: none;
    font-size: 30px;
    color:  #CA637F;
    padding: 20px;
    font-family: bromello;

}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 170px;
    margin-left: 15px;
}

.dropdown-content a{
    color:#cc0044;
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: lavenderblush;
    font-size: 12px;
    opacity: 0.75;
}


.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropdown-button {
    display: block;
}

.dropdown-content a:hover{
    color: white;
    font-weight: 600;
    background-color: rgba(185, 84, 135, 0.75);
    opacity: 0.75;
    text-decoration: none;
}


.header-img{
    height: 300px;
    margin: 5px;
}



#slogan{
    font-size: 15px;
    top: 65%;
}

#gallery-subtitle{
    font-size: 17.5px;
}


.header-main{
    font-size: 10px;
    background-color: #fcf1e1;
    margin: 50px 20px 80px 20px;
}


.header-collection-right{
    float: none;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.header-collection-left{
    float: none;
    overflow: hidden;
    text-align: center;
    margin: auto;

}


.gallery-collection{
    text-align: center;
    margin: auto;
}
